@import 'core/reset';
html {
	font-family: 'Roboto', sans-serif;
}
.headerImg {
	height: 30vh;
	width: 100%;
	background-image: url('../images/header.png');
	background-position: center;
	display: flex;
	justify-content: center;
}
.headerLogo {
	height: 20vh;
	margin-top: 20px;
}
li {
	list-style: none;
}
.charImg {
	width: 150px;
	height: 200px;
}
.charSection {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-around;
}
.charLink {
	text-decoration: none;
	color: black;
}
.charDetail {
	margin: 0 auto;
	margin-top: 10px;
	width: 30%;
	background-color: rgb(212, 193, 143);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.backButton {
	color: black;
	border: 2px solid darkgoldenrod;
	border-radius: 0px;
	padding: 10px 20px;
	font-size: 14px;
	letter-spacing: 1px;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 darkgoldenrod;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.4s;
	transition: ease-out 0.4s;
}
.backButton:hover {
	box-shadow: inset 0 0 0 50px darkgoldenrod;
}
.charResult {
	font-weight: bold;
}
.houseDiv {
	display: inline;
}
.form {
	text-align: center;
	width: 90%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 40px;
	height: 105px;
	background-color: white;
	box-shadow: 10px 10px 20px darkgoldenrod;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.input {
	margin-right: 20px;
}
.label {
	margin-right: 10px;
}
.resetButton {
	width: 45px;
	height: 25px;
	margin-top: 10px;
}
.resetButton:hover {
	box-shadow: darkgoldenrod;
	border: 2px solid darkgoldenrod;
}
.detailImg {
	height: 200px;
	width: 150px;
}
.houseImg {
	width: 30px;
	height: 30px;
}
.detailError {
	font-size: 20px;
}
